.admin .collapse-wrapper {
  height: 0px;
  width: 100%;
  text-align: right;
}

.admin .collapse {
  background: white;
  color: black;
  border-radius: 50%;
  padding: -15px;
  width: 10p;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: none;
  position: relative;
  right: -15px;
  bottom: -30px;
  height: 30px!important;
  width: 30px;
  z-index: 1;
}

.admin .collapse span {
  font-size: 0.7rem;
  margin-left: -6px;
  position: relative;
  top: -1px;
}

.admin .top-title {
  font-size: 20px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

.admin .icon-left {
  width: 40px;
  padding: 10px 0;
  font-size: 1.5rem;
  border-radius: 50%;
}

.admin .logo-wrapper {
  width: 40px;
  height: 40px;
}

.admin .main {
  padding: 20px 25px 20px 35px;
}

.admin .main-content {
  height: 100vh;
  display: flex;
  flex-direction: column ;
  justify-content: space-between ;
  background: #001529 ;
  padding: 10px 0;
  align-items:center;
}

.admin .logos {
  color: white;
  font-size: 35px
}

.admin .question {
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:space-between
}

.admin .full-height {
  height: 100vh;
}

.admin.template-content {
  width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}