.header .navbar {
  /* height: 62px; */
  display: flex;
  align-items: center;
  padding: 0px 16px;
  /* margin: 0 15px 0 15px; */
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.header .logo {
  font-size: 40px;
}

.header .title-wrapper {

}

.header .title-wrapper div div span {
  /* position: relative;
  bottom: -8px; */
}

.header .subtitle-menu {
  padding: 5px !important;
}

.header .document-title, .admin .document-title {
  border: none;
  max-width: 250px;
  z-index: 2;
  height: 35px;
  margin-left: 10px;
  /* padding-left: 5px;
  position: relative;
  bottom: -8px; */
  margin-right: 35px;
}

.header .title-space {
  position: relative;
  bottom: -8px;
}

.header .document-title:hover {
  border: 1px solid gray;
}

.header .document-subtitle {
  padding-left: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .avatar-wrapper {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.header .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header .tool {
  border: none!important;
  padding: 2px;
}

.header .document-title {
  font-size: 18px;
}

