html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: rgb(71, 192, 223);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ant-input-group, 
.ant-input {
  height: 40px;
}

.ant-input-affix-wrapper {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.ant-btn {
  height: 40px !important;
}

.tox.tox-tinymce {
  margin-top: 0px;
}

.tox-editor-container {
  background-color: #F8F9FA !important;
}

.tox-sidebar-wrap {
  width: 817px !important;
  margin: 30px auto !important;
}

.tox-edit-area {
  border: 1px solid #DEE0E2 !important;
  border-radius: 5px !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

.ant-image-mask:hover, .ant-image-mask:active {
  opacity: 0.2!important;
}

/* TEST CURSOR */
.container {
  /* display: flex; */
}

.editor {
  margin: 10px;
  flex-grow: 1;
  width: 40%;
}

#editor-two {
  height: 200px;
}

.date-picker {
  width: 100%;
  height: 40px;
}

.document-card-global {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.document-card-global:hover, .main-document-list:hover {
  background-color: #F1F3F4;
  cursor: pointer;
}

.ant-descriptions-title {
  /* display: flex;
  justify-content: space-between; */
  width: 100%;
}

[draggable=true] {
  cursor: move;
}

.resizable {
  /* overflow: scroll;
  resize: both; */
  /* max-width: 300px;
  max-height: 460px;
  border: 1px solid black;
  min-width: 50px;
  min-height: 50px;
  background-color: skyblue; */
}