.login {
  height: 100vh;
  padding: 30px 0;
  background-image: linear-gradient(285deg, rgba(57, 57, 57, 0.04) 0%, rgba(57, 57, 57, 0.04) 25%,rgba(126, 126, 126, 0.04) 25%, rgba(126, 126, 126, 0.04) 50%,rgba(80, 80, 80, 0.04) 50%, rgba(80, 80, 80, 0.04) 75%,rgba(117, 117, 117, 0.04) 75%, rgba(117, 117, 117, 0.04) 100%),linear-gradient(333deg, rgba(26, 26, 26, 0.04) 0%, rgba(26, 26, 26, 0.04) 25%,rgba(154, 154, 154, 0.04) 25%, rgba(154, 154, 154, 0.04) 50%,rgba(218, 218, 218, 0.04) 50%, rgba(218, 218, 218, 0.04) 75%,rgba(91, 91, 91, 0.04) 75%, rgba(91, 91, 91, 0.04) 100%),linear-gradient(45deg, rgba(14, 14, 14, 0.04) 0%, rgba(14, 14, 14, 0.04) 25%,rgba(216, 216, 216, 0.04) 25%, rgba(216, 216, 216, 0.04) 50%,rgba(44, 44, 44, 0.04) 50%, rgba(44, 44, 44, 0.04) 75%,rgba(111, 111, 111, 0.04) 75%, rgba(111, 111, 111, 0.04) 100%),linear-gradient(251deg, rgba(27, 27, 27, 0.04) 0%, rgba(27, 27, 27, 0.04) 25%,rgba(107, 107, 107, 0.04) 25%, rgba(107, 107, 107, 0.04) 50%,rgba(167, 167, 167, 0.04) 50%, rgba(167, 167, 167, 0.04) 75%,rgba(34, 34, 34, 0.04) 75%, rgba(34, 34, 34, 0.04) 100%),linear-gradient(63deg, rgba(114, 114, 114, 0.04) 0%, rgba(114, 114, 114, 0.04) 25%,rgba(16, 16, 16, 0.04) 25%, rgba(16, 16, 16, 0.04) 50%,rgba(190, 190, 190, 0.04) 50%, rgba(190, 190, 190, 0.04) 75%,rgba(159, 159, 159, 0.04) 75%, rgba(159, 159, 159, 0.04) 100%),linear-gradient(90deg, rgb(37,56,119),rgb(44,42,95));
}
  
.login .wrapper {
  background-color: white;  
}

.register .login {
  height: 135vh;
}

.login .title {
  text-align: center;
  padding: 40px;
  background-color: #67697E;
  color: white;
  display: flex;
  align-items: center;
}

.login .logo {
  padding: 14px;
  font-size: 20px;
  margin-right: 10px;
  border-radius: 100vh;
  background-color: white;
  color: black;
}

.login .form {
  width: 450px;
  padding: 24px;
}

.login .forgot {
  text-align: right;
  padding-bottom: 10px;
}

.login .submit {
  width: 100%;
}

.login .reg {
  text-align: center;
  padding-top: 10px;
}

@media (max-width:600px) {
  .login .form {
    width: 100%;
  }

  .editor.comment-hide-button span, .editor-comment-list {
    margin-top: 30px;
  }
}
@media (max-width:1350px) {
  
  .editor-comment-list {
    width: 400px;
    margin-top: 90px;
    position: fixed;
  }

}

/* register page */
/* .register {
  background-image: linear-gradient(285deg, rgba(57, 57, 57, 0.04) 0%, rgba(57, 57, 57, 0.04) 25%,rgba(126, 126, 126, 0.04) 25%, rgba(126, 126, 126, 0.04) 50%,rgba(80, 80, 80, 0.04) 50%, rgba(80, 80, 80, 0.04) 75%,rgba(117, 117, 117, 0.04) 75%, rgba(117, 117, 117, 0.04) 100%),linear-gradient(333deg, rgba(26, 26, 26, 0.04) 0%, rgba(26, 26, 26, 0.04) 25%,rgba(154, 154, 154, 0.04) 25%, rgba(154, 154, 154, 0.04) 50%,rgba(218, 218, 218, 0.04) 50%, rgba(218, 218, 218, 0.04) 75%,rgba(91, 91, 91, 0.04) 75%, rgba(91, 91, 91, 0.04) 100%),linear-gradient(45deg, rgba(14, 14, 14, 0.04) 0%, rgba(14, 14, 14, 0.04) 25%,rgba(216, 216, 216, 0.04) 25%, rgba(216, 216, 216, 0.04) 50%,rgba(44, 44, 44, 0.04) 50%, rgba(44, 44, 44, 0.04) 75%,rgba(111, 111, 111, 0.04) 75%, rgba(111, 111, 111, 0.04) 100%),linear-gradient(251deg, rgba(27, 27, 27, 0.04) 0%, rgba(27, 27, 27, 0.04) 25%,rgba(107, 107, 107, 0.04) 25%, rgba(107, 107, 107, 0.04) 50%,rgba(167, 167, 167, 0.04) 50%, rgba(167, 167, 167, 0.04) 75%,rgba(34, 34, 34, 0.04) 75%, rgba(34, 34, 34, 0.04) 100%),linear-gradient(63deg, rgba(114, 114, 114, 0.04) 0%, rgba(114, 114, 114, 0.04) 25%,rgba(16, 16, 16, 0.04) 25%, rgba(16, 16, 16, 0.04) 50%,rgba(190, 190, 190, 0.04) 50%, rgba(190, 190, 190, 0.04) 75%,rgba(159, 159, 159, 0.04) 75%, rgba(159, 159, 159, 0.04) 100%),linear-gradient(90deg, rgb(37,56,119),rgb(44,42,95));
}

.reg {
  height: 120vh !important;
} */

/* home page */
.home {
 padding-bottom: 35px;
}

.ant-image-mask-info {
  display: none;
}

.home .col-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .col-center input {
  height: 48px;
}

.home .col-left {
  display: flex;
  justify-content: left;
  align-items: center;
}

.home .col-right {
  display: flex;
  justify-content: right;
  align-items: center;
}

.home .header-wrapper {
  height: 64px;
}

.home .header {
  box-shadow: 0 10px 10px -5px #F1F3F4;
  height: 64px;
  position: fixed;
  width: 100vw;
  padding: 0 40px 0 20px;
  background-color: white!important;
  z-index: 10;
}

.home .ant-input-group-addon {
  background: #1890FF;
}

.home .header-icon {
  font-size: 40px;
}

.home .avatar {
  border-radius: 100vh;
  height: 32px;
  width: 32px;
}

.home .template-wrapper {
  background-color: #F1F3F4;
  display: flex;
  justify-content: center;
}

.home .content {
  align-items: center;
  width: 1000px;
  padding-top: 40px;
  padding-bottom: 60px;
}

.home .title-wrapper {
  padding: 0 ;
}

.home .template-list{
  text-align: right;
}

.home .gutter-row {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  height: 186px;
  border-radius: 5px;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.home .department-list {
  display: flex;
  flex-direction: column-reverse;
  min-width: 125px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 40px 0 40px 0;
}

.home .department-list:hover {
  background-color: #F1F3F4;
  cursor: pointer;
}

.home .template-detail {
  padding-top: 20px;
}

.home .new-document {
  font-size: 30px;
}

.home .department-name {
  padding: 12px 10px 0 10px;
  max-width: 132px;
}

.home .content-wrapper {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

.home .content-wrapper-empty, .home .content-wrapper-list-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  margin: 30px auto;
  background-color: #f1f3f4;
  margin-bottom: 30px;
}

.home .content-wrapper-list-empty {
  
}

.home .content-wrapper-list {
  width: 1200px;
  margin: 0 auto; 
  margin-top: 25px;
}

.home .main-document-list {
  /* height: 50px;
  max-width: 100%; */
  row-gap: 0px;
  width: 1200px;
  margin: 0 auto;
  margin-top: 15px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  border-radius: 5px;
  /* border: 1px solid gray; */
  padding: 15px;
}

.home .main-document-empty, .home .main-document-list-empty  {
  margin: 30px -10px;
  /* width: 100%; */
}

.home .main-document .item {
  padding: 10px;
}

.home .content-title {
  width: 1200px;
  padding: 30px 10px 15px 10px;
}

.home .right-icon {
  font-size: 30px;
  padding: 0 10px 0 10px;
}

.ant-modal-body {
  overflow: auto !important;
}

.home .delete-icon, .department .delete-icon {
  color: red !important;
}

.home .list-delete-icon {
  color: white !important;
}

.home .share-content-header {
  /* background-color: #F1F3F4; */
}

.department .create-by-template-button {
  color: #1890FF!important;
}
/* about page */

.about {
  padding-top: 50px;
  max-width: 1000px;
  margin: 0 auto;
  /* text-align: center; */
  /* display: flex;
  justify-content: center; */
  /* background-color: red; */
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.about .avatar-wrapper, .avatar-wrapper{
  display: flex;
  /* justify-content: flex-end; */
  /* align-items: center; */
}

.about .avatar {
  margin-right: 50px;
}

.about .avatar-img {
  border-radius: 50%;
}

.about-content .edit-user-button {
  margin-top: 30px;
  margin-left: 10px;
}
/* // department page */

.department .col-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.department .col-center input {
  height: 48px;
}

.department .col-left {
  display: flex;
  justify-content: left;
  align-items: center;
}

.department .col-right {
  display: flex;
  justify-content: right;
  align-items: center;
}

.department .header-wrapper {
  height: 64px;
}

.department .header {
  box-shadow: 0 10px 10px -5px #F1F3F4;
  height: 64px;
  position: fixed;
  width: 100vw;
  padding: 0 40px 0 20px;
  background-color: white!important;
  z-index: 10;
}

.department .header-icon {
  font-size: 40px;
}

.department .avatar {
  border-radius: 100vh;
  height: 32px;
  width: 32px;
}

.department .template-wrapper {
  background-color: #F1F3F4;
  display: flex;
  justify-content: center;
}

.department .content {
  align-items: center;
  width: 1000px;
  
  padding-top: 40px;
  padding-bottom: 60px;
}

.department .title-wrapper {
  padding: 0 ;
}

.department .template-list{
  text-align: right;
}

.department .gutter-row {
  /* display: flex; */

  background: white;
  /* height: 186px; */
  padding: 30px 0;
  border-radius: 5px; 
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.department .banner-icon, .department .banner-text {
  margin: 0 auto;
}

.department .banner-icon {
  font-size: 5rem;
  color: #1890FF;
}

.department .banner-text {
  font-size: 20px;
}

.department .template-detail {
  padding-top: 20px;
}

.department .new-document {
  font-size: 30px;
}

.department .new-empty-document {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
}

.department .new-empty-document:hover {
  background-color: #F1F3F4;
  cursor: pointer;
}

.department .new-empty-document-icon {
  font-size: 55px;
  cursor: pointer;
}

.department .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

.department .main-document {
  margin: 30px -10px;
  width: 100%;
}

.department .main-document .item {
  padding: 10px;
}

.department .content-title {
  width: 1200px;
  padding: 30px 0 0px 0;
}

.department .right-icon {
  font-size: 30px;
  padding: 0 10px 0 10px;
}

.list-comment-empty {
  padding-bottom: 25px;
}
/* editor */

.editor.header {
  /* position: fixed;
  height: 70px; */
}

.header-center div {
  display: flex;
  align-items: center;
}

.delete-comment-icon {
  /* padding-top: 32px; */
  display: flex !important;
  align-items: center;
}

.list-group {

}

.editor.comment-hide-button span {
  background: white;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  border-radius: 50%;
  padding: 10px;
  /* margin-top: 20px; */
}

.share-list, .share-list-all, .unshare-list-all {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.share-list-all {
  background-color: #1890FF;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.unshare-list-all {
  background-color: red;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.editor-comment-list-wrapper {
  position: relative;
  z-index: 2;
  /* width: ; */
}

.editor-comment-list {
  position: absolute;
  top: 57px;
  left: 30px;
  width: 17%;
}

.editor-comments {
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 50%);
  padding: 15px;
  /* width: 20%; */
  position: relative;
  /* top: -1070px; */
  background-color: white;
}

.editor.commentor {
  /* color: black; */
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.editor.commentor:hover {
  background-color: #E4E4E4;
}

.editor.black-text {
  color: black;
}

.share-person-avatar {
  border-radius: 50%;
  width: 43px !important;
  border: 3px solid #00FE24;
}

.share-person-card {
  border-radius: 50%;
  border: 3px solid #00FE24;
}

.canvas-field {
  display: flex;
  justify-content: center;
}

.share-person-break {
  margin-bottom: 15px !important;
}

/* FAQ page */
.faq.content {
  margin-top: 35px;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 50%);
  width: 85%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 30px;
}

.faq.reply-section {
  color: #1890FF;
}